<div class="container">

  <strong class="header">Welcome, {{userName}}</strong>

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>Edit display name</mat-panel-title>
      </mat-expansion-panel-header>

      <form (ngSubmit)="updateDisplayName()" class="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="New display name" [(ngModel)]="displayName" id="displayName" name="displayName">
        </mat-form-field>

        <mat-icon class="btn-clear" (click)="clearDisplayName()">clear</mat-icon>

        <button mat-raised-button type="submit" class="btn" color="primary" [disabled]="loading">Submit</button>
      </form>

    </mat-expansion-panel>

  </mat-accordion>

  <button mat-raised-button color="accent" (click)="logout()">Logout</button>

</div>
