.header {
  display: block;
  margin-bottom: 16px;
}

.form {
  position: relative;
}

.btn {
  height: 36px;
  margin-top: 10px;
}

.btn-clear {
  position: absolute;
  top: 13px;
  right: -4px;
  z-index: 10;
}

.full-width {
  width: 100%;
}
