<header>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
    <span>Grocery</span>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

      <a href="#" mat-stroked-button>
        <mat-icon>add_shopping_cart</mat-icon>
      </a>

      <a href="#" mat-stroked-button>
        <mat-icon>shopping_cart</mat-icon>
      </a>

      <a href="#" mat-stroked-button>
        <mat-icon>hourglass_empty</mat-icon>
      </a>

      <a href="#" mat-stroked-button>
        <mat-icon>person</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
