<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over">
    <header>
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
        <span>Grocery</span>
      </mat-toolbar>
    </header>

    <mat-nav-list>
      <mat-list-item (click)="close()">
        <mat-icon matListIcon>person</mat-icon>
        <a routerLink="/user">
          User
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="close()">
        <mat-icon matListIcon>group</mat-icon>
        <a routerLink="/membership">
          Memberships
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="close()">
        <mat-icon matListIcon>group_add</mat-icon>
        <a routerLink="/invitation">
          Invitations
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
        <span>Grocery</span>
      </mat-toolbar>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>

<nav *ngIf="auth.authenticated">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">

      <a routerLink="/" class="btn-footer left-border" (click)="close()">
        <mat-icon>add_shopping_cart</mat-icon>
      </a>

      <a routerLink="/shopping-list" class="btn-footer left-border" (click)="close()">
        <mat-icon>shopping_cart</mat-icon>
      </a>

      <a routerLink="/history" class="btn-footer left-border" (click)="close()">
        <mat-icon>hourglass_empty</mat-icon>
      </a>

      <a class="btn-footer left-border right-border" (click)=toggle()>
        <mat-icon>{{menuIcon}}</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
